@font-face
{
	font-family: 'harmony';
	src: url('../fonts/FFFHARMO.TTF');
}

@font-face
{
	font-family: 'hachea';
	src: url('../fonts/HACHEA__.TTF');
}

@font-face
{
	font-family: 'visitor';
	src: url('../fonts/visitor2.ttf');
}

body {
   font-family: harmony;
   background: url( "../images/backgroundLarge.png" );
   background-color: #02297C;
   background-repeat: repeat-x;
   background-attachment:fixed;
   background-position: center bottom;
   /*background-size: 1440px;*/
   background-size: 100%;
}


span.title{
	font-family: harmony;
	font-size: 50px;
	text-shadow: 4px 4px 4px #3333aa;
}

span.subtitle{
	font-family: harmony;
	font-size: 20px;
	text-shadow: 4px 4px 4px #3333aa;
}


/*INFO*/
div.infoDiv {

	width: 200px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #000044;
    border: 5px outset #8888FF;
	color: #8888FF;
	
	
	position:absolute;
	left:20px;
	top:20px;
	
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;

}

/* MAIN CONTENT */
#content {
    width: 700px;
    margin: 10px auto; 
    padding: 0px 20px;
    background: #000044;
    border: 10px outset #8888FF;
	color: #8888FF;
}

/*GAMES*/
div.gamebox {
	width:  600px;
	margin: 10px auto;
	margin-bottom: 40px;
	padding: 5px 20px;
	padding-bottom: 20px;
	background: #CCDDFF;
	border: 10px outset #8888FF;
	overflow: auto;
}


/* HEADERS & TEXT */
/* Game Title Header */
h3 {
	font-family: harmony;
	font-weight: bolder;
	font-size: 26px;
	text-align: center;
	color: black;
	margin-top: 10px;
	margin-bottom: 0px;
	text-shadow: 4px 4px 4px #888888;
}

/* Game Tagline */
h4 {
	font-family: harmony;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	text-align: center;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 12px;
	text-shadow: 4px 4px 4px #999999;
	}
	
h5 {
font-family:Tahoma;
	color:black;
	background-color:black;
	border:solid 4px black;
	margin:0;
	position:relative;
	top:50px;
	left:10px;
	padding-left:5px;
	padding-right:5px;
	visibility:hidden;

}
	
/* Game Description */
p.description {
	background-color:#BBBBFF;
	font-family: harmony;
	font-size: 12px;
	text-align: left;
	color: #000000;
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 2%;
	width: 30%;
	border: 2px outset #3333AA;
	}
	
/* Info Description */
p.infoText {
	background-color:#CCDDFF;
	font-family: harmony;
	font-size: 14px;
	text-align: center;
	color: #000000;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 2%;
	margin-right: 2%
	width: 96%;
	border: 10px outset #8888FF;
	}
	

/* PICTURES */
img.rightImage {
	float: right;
	width:60%;
	position: relative;
	border: 5px outset #3333AA;
	cursor: pointer;
	cursor: hand;
    }
	
img.leftImage {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:2%;
	padding: -10px;
	position: relative;
	/*height:15%;*/
	width: 30%;
	border: 5px outset #3333AA;
	cursor: pointer;
	cursor: hand;
	}
	
img.playButton{
	vertical-align: text-bottom;
	margin-top: 0px;
	margin-left:2%;
	width: 30%;
	
}


	
	