body {
    font-family: Arial, Helvetica, sans-serif;
   background: url( "images/background4.png" );
   background-repeat: no-repeat;
   background-attachment:fixed;
   background-position: bottom center;
   background-size: 1080px;
}

#content {
    width: 500px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

label {
    display: block;
    width: 10em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
}

#futureValue {
    color: #000000;
}

br {
    clear: left;
}